.about {
  padding-top: 75px;
  margin-bottom: 110px;

  @media (max-width: $width-tablet) {
    padding-top: 27px;
    margin-bottom: 80px;
  }
}

.about__wrapper {
  padding-left: 180px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 317px;
    top: 5px;
    left: -30px;
    background-image: url("../img/about.png");
    background-repeat: no-repeat;
  }

  @media (max-width: $width-tablet) {
    padding-left: 185px;

    &::before {
      width: 176px;
      height: 360px;
      background-size: cover;
      top: 0;
      left: -34px;
    }
  }

  @media (max-width: $width-mobile) {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

.about__title {
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  margin: 0;

  @media (max-width: $width-tablet) {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 26px;
  }
}

.about__text {
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-right: 20px;

  @media (max-width: $width-tablet) {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-right: 11px;
  }

  @media (max-width: $width-mobile) {
    margin-left: 0;
  }
}

.about__button {
  padding-top: 17px;

  @media (max-width: $width-tablet) {
    padding-top: 22px;
    padding-left: 4px;
  }
}

.about__link {
  padding: 14px 50px;
}

.about__hidden {
  @media (max-width: $width-tablet) {
    display: none;
  }
}
