.advantages {
  padding-top: 112px;

  @media (max-width: $width-tablet) {
    padding-top: 55px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: $width-mobile) {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.advantages__item {
  width: 48.7%;
  flex-shrink: 0;
  box-sizing: border-box;
  border-left: 3px solid $color-blue;
  border-right: 1px solid $color-light-gray;
  border-top: 1px solid $color-light-gray;
  border-bottom: 1px solid $color-light-gray;
  margin-bottom: 30px;
  padding: 38px 40px 50px 40px;
  min-height: 299px;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }

  &:hover .advantages__icon {
    fill: $color-white;
  }

  &:hover .advantages__title {
    color: $color-white;
  }

  @media (max-width: $width-tablet) {
    width: 48.1%;
    border-left: 2px solid $color-blue;
    padding: 23px 22px 8px 25px;
    min-height: 232px;
  }

  @media (max-width: $width-mobile) {
    width: 100%;
  }
}

.advantages__icon {
  fill: $color-blue;
}

.advantages__title {
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $color-blue;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: $width-tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.advantages__text {
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $width-tablet) {
    margin: 11px 0;
  }
}
