.feedback {
  background-color: $color-blue;
  padding-top: 90px;
  padding-bottom: 72px;
  color: $color-white;
  overflow: hidden;
}

.feedback__container {
  padding-left: 51%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1000px;
    height: 718px;
    top: -90px;
    left: -375px;
    z-index: 1;
    background-image: url("../img/triangles.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    width: 511px;
    height: 288px;
    top: 70px;
    left: -25px;
    z-index: 1;
    background-image: url("../img/airplane.png");
    background-repeat: no-repeat;
  }
}

.feedback__title {
  margin: 0;
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.feedback__text {
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 38px;
  margin: 12px 0;
}
