.form {
  color: $color-white;
  display: flex;
  flex-direction: column;
}

.form__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;

  &--popup {
    flex-direction: column;
    margin-bottom: 0;
  }

  @media (max-width: $width-mobile) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.form__field {
  font-family: $font-ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: lighten($color-blue, 8%);
  border: none;
  padding: 12px 20px 16px 20px;
  box-sizing: border-box;

  &::placeholder {
    font-family: $font-ptmono;
    color: $color-white;
  }

  &--name,
  &--phone {
    width: 47%;
  }

  &--message {
    width: 100%;
    height: 154px;
    resize: none;
  }

  &--popup {
    width: 100%;
    margin-bottom: 30px;
  }

  @media (max-width: $width-mobile) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.form__wrapper {
  order: 2;
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 47%;

  &--popup {
    width: 100%;
  }

  @media (max-width: $width-mobile) {
    width: 100%;
  }
}

.form__button {
  order: 1;
  width: 47.4%;
  margin-top: 3px;

  &--popup {
    width: 100%;
  }

  @media (max-width: $width-mobile) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form__agreement-label {
  position: relative;
  display: block;
  padding-left: 32px;
  margin-top: 6px;
  margin-left: 6px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid $color-white;
    top: 2px;
    left: 0;
  }
}

.form__agreement:checked + .form__agreement-label::before {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: 2px 3px;
}
