.feedback__container form,
.popup form {
  color: $color-white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}

.feedback__container input[type="text"],
.feedback__container input[type="tel"],
.feedback__container textarea,
.popup input[type="text"],
.popup input[type="tel"],
.popup textarea {
  background-color: lighten($color-blue, 8%);
  border: none;
  padding: 12px 20px 16px 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
  transition: box-shadow 0.4s ease, outline-color 0.4s ease;

  &:hover {
    box-shadow: 0 0 0 2px $color-white;
    
  }

  &:focus {
    outline-color: $color-white;
  }

  &::placeholder {
    font-family: $font-ptmono;
    color: $color-white;
  }

  @media (max-width: $width-mobile) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.feedback__container input[type="text"],
.feedback__container input[type="tel"] {
  width: 47%;

  @media (max-width: $width-mobile) {
    width: 100%;
    padding: 12px 20px 18px 16px;
    margin-bottom: 33px;
  }
}

.popup input[type="text"],
.popup input[type="tel"] {
  width: 100%;
  margin-bottom: 33px;
  padding: 14px 20px 18px 24px;
}

.feedback__container textarea {
  width: 100%;
  height: 154px;
  resize: none;

  @media (max-width: $width-tablet) {
    height: 164px;
  }

  @media (max-width: $width-mobile) {
    height: 104px;
  }
}

.popup textarea {
  width: 100%;
  height: 102px;
  resize: none;
  padding: 10px 20px 18px 24px;
  margin-bottom: 30px;
}

.feedback__container input[type="submit"] {
  width: 47.4%;
  margin-top: 3px;
  align-self: flex-start;

  @media (max-width: $width-mobile) {
    width: 100%;
    margin-bottom: 23px;
  }
}

.popup input[type="submit"] {
  margin-top: 0;
  margin-bottom: 27px;
  width: 100%;
}

.feedback__container .feedback__agreement,
.popup .popup__agreement {
  position: relative;
  display: block;
  padding-left: 32px;
  margin-top: 6px;
  margin-left: 6px;
  width: 47%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  z-index: 11;
  transition: opacity 0.4s ease;

  @media (max-width: $width-mobile) {
    margin-left: 3px;
    width: 100%;
  }
}

.feedback__container label span,
.popup label span {
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid $color-white;
    top: 2px;
    left: 0;
    background: none;
    z-index: 12;
  }
}

.popup .popup__agreement {
  margin-left: 16px;
  margin-bottom: 20px;
  width: 90%;
}

.popup label span {
  &::before {
    left: -15px;
  }
}

.feedback__container input[type="checkbox"]:checked + span::before,
.popup input[type="checkbox"]:checked + span::before {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: 2px 3px;
}

.feedback__container input[type="checkbox"]:hover + span,
.feedback__container input[type="checkbox"]:focus + span,
.popup input[type="checkbox"]:hover + span,
.popup input[type="checkbox"]:focus + span {
  opacity: 0.7;
}

.feedback__container input[type="checkbox"]:active + span,
.popup input[type="checkbox"]:active + span {
  opacity: 0.4;
}
