.link {
  display: inline-block;
  border: none;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-family: $font-roboto;
  font-weight: normal;
  cursor: pointer;
  color: $color-white;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }

  &--white-border,
  &--blue-border {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 14px 30px;
    border-radius: 5px;
    letter-spacing: 0.05em;
  }

  &--white-border {
    color: white;
    border: 1px solid white;
  }

  &--blue-border {
    color: $color-blue;
    border: 1px solid $color-blue;
  }

  &--blue-fill {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border-radius: 5px;
    padding: 16px 45px;
    letter-spacing: 0.05em;
    background-color: $color-blue;
  }

  &--text {
    font-family: $font-ptmono;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $color-dark-gray;
    text-transform: none;
    opacity: 0.5;
  }

  &--iconed {
    font-size: 0;
    line-height: 0;
  }

  @media (max-width: $width-tablet) {
    &--blue-fill {
      font-size: 16px;
      line-height: 19px;
      padding: 17px 30px;
    }
  }
}
