.logo {
  display: flex;
  flex-direction: row;
}

.logo__image {
  padding: 5px 3px 5px 0;
}

.logo__title {
  padding-left: 13px;
}

.logo__text {
  display: block;
  font-weight: normal;
  text-transform: none;
  color: $color-gray;
  font-family: $font-ptmono;
  font-size: 12px;
  line-height: 14px;
  text-align: left;

  &--bold {
    font-weight: bold;
    text-transform: capitalize;
    color: $color-white;
    font-family: $font-roboto;
    font-size: 25px;
    line-height: 29px;
    padding-top: 4px;
  }

  &--dark {
    color: #203C42;
  }
}
