.page {
  position: relative;
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  color: $color-main;
}

.page__container-large {
  max-width: $width-desktop;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: $width-tablet) {
    padding: 0 25px;
    box-sizing: border-box;
  }

  @media (max-width: $width-mobile) {
    padding: 0 15px;
    min-width: 320px;
  }
}

.page__container {
  max-width: $width-desktop;
  padding: 0 120px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $width-tablet) {
    padding: 0 25px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 15px;
    min-width: 320px;
  }
}
