.page-header {
  background-color: $color-dark-gray;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  padding-top: 20px;
  overflow: hidden;
}

.page-header__wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1000px;
    height: 718px;
    top: 158px;
    left: 640px;
    z-index: 1;
    background-image: url("../img/triangles.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    width: 705px;
    height: 515px;
    top: 238px;
    right: -38px;
    z-index: 1;
    background-image: url("../img/pcbs.png");
    background-repeat: no-repeat;
  }

  @media (max-width: $width-tablet) {
    padding: 0 25px;

    &::after {
      width: 465px;
      height: 340px;
      background-size: contain;
      top: 93px;
      right: -207px;
    }

    &::before {
      display: none;
    }
  }

  @media (max-width: $width-mobile) {
    padding: 0 15px;
    box-sizing: border-box;

    &::after {
      width: 301px;
      height: 220px;
      top: 73px;
      right: -6px;
      z-index: 0;
    }

    &::before {
      display: none;
    }
  }
}

.page-header__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-header__block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-header__contacts {
  width: 46.8%;

  @media (max-width: $width-tablet) {
    margin-left: auto;
    width: auto;
    margin-right: 21px;
  }

  @media (max-width: $width-mobile) {
    margin-right: 25px;
  }
}

.page-header__contact {
  position: relative;
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $color-white;
  background-repeat: no-repeat;
  text-transform: none;
  margin-top: 14px;

  &::before {
    content: "";
    position: absolute;
  }

  &--mail {
    padding-left: 38px;
    margin-right: 90px;

    &::before {
      width: 19px;
      height: 14px;
      top: 3px;
      left: 0;
      background-image: url("../img/envelope.svg");
      background-repeat: no-repeat;
    }
  }

  &--phone {
    padding-left: 33px;
    margin-right: 50px;

    &::before {
      width: 18px;
      height: 18px;
      top: 0;
      left: 0;
      background-image: url("../img/phone.svg");
    }
  }

  &--link {
    padding: 14px 26px;
  }

  @media (max-width: $width-tablet) {
    font-size: 0;
    line-height: 0;
    margin-top: 0;

    &--mail {
      padding-left: 0;
      margin-right: 60px;

      &::before {
        width: 26px;
        height: 19px;
        background-size: cover;
        top: -20px;
      }
    }

    &--phone {
      padding-left: 0;
      margin-right: 0;

      &::before {
        width: 24px;
        height: 24px;
        background-size: cover;
        top: -22px;
      }
    }

    &--link {
      display: none;
    }
  }

  @media (max-width: $width-mobile) {
    &--mail {
      padding-left: 0;
      margin-right: 48px;
    }
  }
}

.page-header__content {
  padding-top: 200px;
  padding-bottom: 278px;
  width: 52%;

  @media (max-width: $width-tablet) {
    padding-top: 85px;
    padding-left: 70px;
    padding-bottom: 165px;
    width: 55%;
  }

  @media (max-width: $width-mobile) {
    position: relative;
    z-index: 1;
    padding-left: 0;
    padding-top: 200px;
    padding-bottom: 70px;
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.page-header__text {
  color: $color-white;
  display: block;

  &--large {
    position: relative;
    font-family: $font-roboto;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 26px;
    margin-left: -7px;
  }

  &--small {
    position: relative;
    font-family: $font-ptmono;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    padding-left: 90px;

    &::before {
      content: "";
      position: absolute;
      width: 66px;
      height: 2px;
      top: 15px;
      left: 0;
      background-image: url("../img/rect.svg");
    }
  }

  @media (max-width: $width-tablet) {
    &--large {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 29px;
    }

    &--small {
      font-size: 18px;
      line-height: 156.8%;
      padding-left: 44px;

      &::before {
        width: 33px;
        left: -5px;
        top: 16px;
      }
    }
  }

  @media (max-width: $width-mobile) {
    &--large {
      font-size: 40px;
      line-height: 47px;
      margin-left: 0;
      margin-bottom: 26px;
    }

    &--small {
      font-size: 16px;
      line-height: 156.8%;
      width: 100%;
      box-sizing: border-box;
      padding-left: 52px;

      &::before {
        left: 5px;
      }
    }
  }
}

.page-header__offer {
  padding-top: 30px;
  padding-left: 90px;
  width: 407px;

  @media (max-width: $width-tablet) {
    padding-top: 39px;
    padding-left: 45px;
    width: 379px;
  }

  @media (max-width: $width-mobile) {
    width: 100%;
    padding-left: 0;
    padding-top: 26px;
    box-sizing: border-box;
  }
}

.page-header__span {
  &--large {
    display: block;
  }

  &--small {
    display: none;
  }

  @media (max-width: $width-mobile) {
    &--large {
      display: none;
    }

    &--small {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.page-header .logo__title {
  @media (max-width: $width-mobile) {
    display: none;
  }
}
