.page-footer {
  padding-top: 50px;
  background: $color-footer;
}

.page-footer__wrapper {
  padding-bottom: 44px;
  border-bottom: 1px solid $color-light-gray;
}

.page-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-footer__block {
  &--socials {
    width: 29.3%;
  }

  &--nav {
    width: 46%;
  }

  &--address {
    width: 23.7%;
  }
}

.page-footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-footer__socials {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.page-footer__title {
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $color-dark-gray;
  text-transform: uppercase;
  margin-bottom: 24px;
  letter-spacing: 0.05em;
}

.page-footer__address {
  display: flex;
  flex-direction: column;
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $color-dark-gray;
  opacity: 0.5;
}

.page-footer__copyright {
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-dark-gray;
  opacity: 0.5;
  padding-top: 13px;
  padding-bottom: 13px;
}

.page-footer__copyright-1 {
  width: 15.8%;
}

.page-footer__copyright-2 {
  width: 26.6%;
}

.page-footer__copyright-3 {
  width: 44%;
}

.page-footer__copyright-4 {
  width: 13.6%;
}

.page-footer__copyright-3,
.page-footer__copyright-4 {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  color: $color-dark-gray;
  opacity: 1;
  text-align: left;
}

.page-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.page-footer__social-item {
  margin: 0 14px 0 0;
}

.page-footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.page-footer__nav-item {
  width: 48%;
}
