.page-footer {
  padding-top: 50px;
  background: $color-footer;
  position: relative;

  @media (max-width: $width-tablet) {
    padding-top: 17px;
  }
}

.page-footer__wrapper {
  padding-bottom: 44px;
  border-bottom: 1px solid $color-light-gray;

  @media (max-width: $width-tablet) {
    border-bottom: 0;
    padding-bottom: 10px;
  }
}

.page-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $width-tablet) {
    flex-wrap: wrap;
    border-bottom: 1px solid $color-light-gray;
  }

  @media (max-width: $width-mobile) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.page-footer__block {
  &--socials {
    width: 29.3%;
  }

  &--nav {
    width: 46%;
  }

  &--address {
    width: 23.7%;
  }

  @media (max-width: $width-tablet) {
    &--socials {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-light-gray;
      padding-bottom: 12px;
    }

    &--nav,
    &--address {
      padding: 25px 25px 35px 25px;
      box-sizing: border-box;
    }

    &--address {
      width: 390px;
    }
  }

  @media (max-width: $width-mobile) {
    flex-direction: column;
    justify-content: flex-start;

    &--nav,
    &--address {
      padding: 0 15px;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
    }

    &--nav {
      border-bottom: 1px solid $color-light-gray;
    }
  }
}

.page-footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: $width-tablet) {
    padding: 0 25px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 15px;
  }
}

.page-footer__socials {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

  @media (max-width: $width-tablet) {
    width: 114px;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 20px 10px 25px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 15px;
  }
}

.page-footer__title {
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $color-dark-gray;
  text-transform: uppercase;
  margin-bottom: 24px;
  letter-spacing: 0.05em;
}

.page-footer__address {
  display: flex;
  flex-direction: column;
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $color-dark-gray;
  opacity: 0.5;

  @media (max-width: $width-mobile) {
    width: 80%;
  }
}

.page-footer__copyright {
  font-family: $font-ptmono;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-dark-gray;
  opacity: 0.5;
  padding-top: 13px;
  padding-bottom: 13px;

  @media (max-width: $width-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 22px;
  }
}

.page-footer__copyright-1 {
  width: 15.8%;

  @media (max-width: $width-tablet) {
    display: none;
  }
}

.page-footer__copyright-2 {
  width: 26.6%;

  @media (max-width: $width-tablet) {
    position: absolute;
    content: "";
    top: 35px;
    right: 25%;
    width: 250px;
    height: 30px;
  }
}

.page-footer__copyright-3 {
  width: 44%;
}

.page-footer__copyright-4 {
  width: 13.6%;
}

.page-footer__copyright-3,
.page-footer__copyright-4 {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  color: $color-dark-gray;
  opacity: 1;
  text-align: left;

  @media (max-width: $width-tablet) {
    padding: 0 25px;
    width: auto;
    box-sizing: border-box;
  }

  @media (max-width: $width-mobile) {
    padding: 0 15px;
    width: 100%;
    text-align: center;
  }
}

.page-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.page-footer__social-item {
  margin: 0 14px 0 0;
}

.page-footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: $width-tablet) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.page-footer__nav-item {
  width: 48%;

  @media (max-width: $width-tablet) {
    width: 100%;
  }
}
