.services {
  background-color: $color-dark-gray;
  padding-bottom: 88px;

  @media (max-width: $width-tablet) {
    padding-bottom: 28px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 35px;
  }
}

.services__title {
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $color-white;
  padding-top: 90px;
  margin-bottom: 50px;

  @media (max-width: $width-tablet) {
    font-size: 32px;
    line-height: 140.62%;
    padding-top: 50px;
    width: 85%;
  }

  @media (max-width: $width-mobile) {
    font-size: 28px;
    line-height: 140.62%;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 40px;
  }
}

.services__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $width-tablet) {
    flex-direction: column;
  }
}

.services__item {
  position: relative;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    background-color: $color-blue;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-image: url("../img/vector.svg");
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  @media (max-width: $width-tablet) {
    width: 100%;
    margin-bottom: 48px;
  }

  @media (max-width: $width-mobile) {
    margin-bottom: 30px;
  }
}

.services__link {
  display: flex;
  font-size: 0;
  line-height: 0;
  justify-content: stretch;
  align-items: center;
  max-height: 620px;
  overflow: hidden;

  @media (max-width: $width-tablet) {
    max-height: 256px;
  }

  @media (max-width: $width-mobile) {
    max-height: 300px;
  }
}

.services__wrapper {
  display: block;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.services__item img {
  width: 100%;
  height: 100%;
}

.services__item h3 {
  position: absolute;
  top: 31px;
  left: 44px;
  color: $color-white;
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: none;
  width: 44%;

  @media (max-width: $width-tablet) {
    width: 24%;
    top: 21px;
  }

  @media (max-width: $width-mobile) {
    width: 60%;
    left: 34px;
    top: 2px;
  }
}
