.services {
  background-color: $color-dark-gray;
  padding-bottom: 128px;
}

.services__title {
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $color-white;
  padding-top: 90px;
  margin-bottom: 50px;
}

.services__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    background-color: $color-blue;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-image: url("../img/vector.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.services__link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.services__image-wrapper {
  display: block;
  opacity: 0.2;
}

.services__image {
  width: 370px;
  height: 620px;
}

.services__text {
  position: absolute;
  top: 31px;
  left: 44px;
  color: $color-white;
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: none;
  width: 44%;
}
