@charset "UTF-8";

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoCondensed-Regular"),
    url("../fonts/RobotoCondensed-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: bold;
  font-weight: 700;
  src: local("RobotoCondensed-Bold"),
    url("../fonts/RobotoCondensed-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Mono";
  font-style: bold;
  font-weight: 400;
  src: local("PTMono-Regular"),
    url("../fonts/PTMono-Regular.ttf") format("ttf");
  font-display: swap;
}
