$width-desktop: 1023px;
$width-tablet: 768px;
$width-mobile: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-ptmono: "PT Mono", monospace;

$text-color-main: #666666;
$text-color-white: #ffffff;
$text-color-gray: #788891;

$bg-color-blue: #00B2FF;;
