$width-desktop: 1410px;
$width-tablet: 768px;
$width-mobile: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-ptmono: "PT Mono", monospace;

$color-blue: #00b2ff;
$color-main: #666666;
$color-white: #ffffff;
$color-gray: #788891;
$color-light-gray: #ebebeb;
$color-dark-gray: #1b2d37;
$color-footer: #FAFAFA;
